pytz
requests
python-dotenv
pyopenssl
pyasn1
ndg-httpsclient

# Django
django <4.0,>=2.2
setuptools <59.7.0,>=59.1.1
django-timezone-field 
django-cors-headers
django-debug-toolbar
whitenoise

# Django 3.0 async requirements
gunicorn
uvicorn
uvloop
httptools

# Databases
psycopg2-binary
dj-database-url

# Distributed tasks
celery
redis
django-celery-beat

# Telegram
python-telegram-bot

# AI
tomli<2.0.0,>=0.2.6
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
black
bleach
cffi
click
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fonttools
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune<2,>=0.8.1
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencv-python
packaging
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
QtPy
Send2Trash
six
stack-data
terminado
testpath
torch
torchvision
tqdm
traitlets
typing-extensions
wcwidth
webencodings
widgetsnbextension
zipp

# monitoring
# sentry-sdk
